.footer{
    max-width: 1184px;
    margin: 0 auto;
    padding: 0 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
@media screen and (max-width:1024px) and (min-width:769px){
    .footer{
        margin: 0 48px;
    }
}
@media screen and (max-width:768px) and (min-width:721px){
    .footer{
        margin: 0 24px;
    }
}
@media screen and (max-width:720px){
    .footer{
        margin: 0;
        flex-direction: column;
    }
}